echo "node_modules" > .dockerignore
echo ".next" >> .dockerignore
echo ".git" >> .dockerignore
echo ".gitignore" >> .dockerignore
echo ".DS_Store" >> .dockerignore
echo "*.log" >> .dockerignore
echo "npm-debug.log*" >> .dockerignore
echo "yarn-debug.log*" >> .dockerignore
echo "yarn-error.log*" >> .dockerignore
echo ".env" >> .dockerignore
echo ".env.local" >> .dockerignore
echo ".env.production.local" >> .dockerignore